*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    text-decoration: none;
}

body{
    background-color: blue;
}

.container{
    background-color: blue;
    min-height: 100dvh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.quiz-card{
    width: 30rem;
}

.question-footer{
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
}

.quiz-answer-card:hover{
    cursor:pointer;
    background-color: rgba(0, 0, 0, 0.05);
}