*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    position: relative;
    text-decoration: none;
}

body{
    background-color: blue;
}

.container{
    background-color: blue;
    min-height: 100dvh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}